* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.nav__content {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.nav__right ul li a {
  text-decoration: none;
  color: black;
  padding: 1.5em;
  display: block;
}

.nav__right ul {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20em;
  list-style-type: none;
}

.nav__rigth ul li {
  cursor: pointer;
  font-size: 3rem;
}

.nav__right ul li a:hover {
  color: blue;
  background-color: green;
}

.hero__content {
  background: url("../images/bg1.jpg") no-repeat center center/cover;
  height: 100vh;
  margin-bottom: 4rem;
}

.h1 {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 4rem;
  padding-top: 5em;
}

.h2 {
  text-align: center;
  padding-top: 2rem;
  color: green;
  font-weight: bold;
}

.main__content {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.main__content h1 {
  text-align: center;
}

.main__content button {
  padding: 20px;
  background-color: black;
  color: white;
  border: none;
}

.founder {
  background: url(/images/contact-us-bg\ \(2\).jpg) no-repeat center center/cover;
  height: 50vh;
  color: aliceblue;
  font-size: 2em;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: aqua;
}

.foundation {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: black;
  margin: 4em 2em;
  text-align: center;
  box-sizing: border-box;
}

.vision {
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
  height: 70vh;
}

.Objectives {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: center;
  flex-wrap: wrap;
  background-color: green;
  height: 50vh;
}

.Objective__content {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.8em;
}

.resources ul {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.resources ul li a {
  text-decoration: none;
}

.form input {
  margin: 2em 4em;
  padding: 2rem 3rem;
  padding-right: 10rem;
}

.email {
  box-shadow: 0 4px grey;
}

.container button {
  background-color: black;
  color: white;
  padding: 2em 4em;
  margin: 2em 4em;
}