.form{
    input{
    margin:2em 4em;
    padding: 2rem 3rem;
padding-right: 10rem;

}
}
.email{
    
    box-shadow: 0 4px grey;
    
}
.container__right{
    button{
    background-color: black;
    color:grey;
    padding: 2em 4em;
    margin: 2em 4em;
    border:none;
    border-radius: 1em;
    }
}
.container__right{
    border: 0.1em solid gray;
    background-color:green;
    width: 50%;
    padding:auto;
    margin: auto;
}

.container__contact{
    @include flex(center,center);
    }
