@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

.nav__content {
  @include flex(space-between, center);
  gap: 2em;
}

.nav__right ul li a {
  // @include flex(space-between,center);
  text-decoration: none;
  color:black;
  padding:1.5em;
  display: block;
}
.nav__right ul {
    @include flex(space-between, center);
    gap:20em;
  list-style-type: none;
 
}
.nav__rigth ul li{
    cursor: pointer;
    font-size:1em;
}
.nav__right ul li a:hover{
    color:blue;
    background-color:$grayish-blue;
} 

