@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

.main__content{
    @include flex(space-between,center);
}
.main__content h4{
    font-size: 2em;
    text-align: center;
}
.main__content button{
    margin-left:13em;
    text-align: center;
    margin-top: 2em;
    padding:20px;
    background-color:green;
    color: white;
    border:none;
  
    
    
}
.main{
    text-align: center;
    font-size: 2em;
    margin-bottom: 2.5em;
}
