@use "../utilities/base" as *;
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

.what-we-done{
  background: url("../images/contact-us-bg%20(2).jpg")no-repeat,center center/cover;
  height: 50vh;
}
.main__items{
  @include flex(space-between,center);
  width:100%;
}
.offer h1{
  text-align: center;
  color:green;
  margin-bottom:2em;
  margin-top: 2em;
}
@media  screen and (max-wdth:414px) {
  .nav__content{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
}